@* @{
  Layout = "_Layout";
}

<p>@Html.ActionLink("View All Available Places", "Index", "Places")</p>

<h1>Hello and welcome to this travel site. This site is mainly used to test api calls that hold locations with cities on them. Click on the link above to interact with those locations.</h1> *@