@{
    Layout = "_Layout";
}
@using deliver_me_deliveries.Models;


<div id="parent">

@foreach (Restaurant restaurant in Model)
{
  <div class="restaurant">
    <h3><a href="/Restaurants/Details/@restaurant"><p>@restaurant.Name</p></a></h3>
    <h4> @restaurant.StreetAddress</h4>
  </div>
} 

@* @Html.ActionLink($"page {@ViewBag.Page}", "Page", new { page = @ViewBag.Page}) *@
</div>

