@{
    Layout = "_Layout";
}

@* @model PagedList.IPagedList<deliver_me_deliveries.Models.Restaurant>
@using PagedList;
@using PagedList.Mvc;
@using X.PagedList.Mvc.Core *@
@using deliver_me_deliveries.Models;
<div class="parent">
  <div class="box2">

    @foreach (Restaurant restaurant in Model)
    {
      <div class="logo-margin">
       <a href="/Restaurants/Details/@(restaurant.ApiKey)"><img src="@restaurant.LogoUrl" width="90px" height="90px"></a>
      </div>
      <div class="info-margin">
        <h3>Name: @restaurant.Name</h3>
        <p>Street: @restaurant.StreetAddress</p>
      </div>
    }
    </div>

    <div class="links">
    </div>
  </div>
</div>